{% extends "back/base.html" %}
{% block content %}
<style>
  img{
    width: 100px;
    height: 100px;
  }
</style>
<p class="mb-4"></p>
<link rel="stylesheet" href="sweetalert2.min.css">
<body class="">
    <div class="container-fluid col-12 rounded-1 shadow-lg fst-italic bg-tranparent garis">
      <br>
      <br>
      <h1 class=" text-center ">Data sinkron</h1>
      <h6 class=" text-center ">Setiap mengklik sinkron maka data lama akan terhapus dan otomatis mereload data yang baru berasal dari APi sehingga data tidak menumpuk</h6>
      <div class="container-fluid">
        <div class="row g-3 align-item-center mt-2">
          <div class="col-auto">
          <form class="d-flex " role="search" action="/pegawai" method="GET">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
        <div class="col-auto">
        <!-- <a class="btn btn-danger me-2" href="/exportpdf">Export PDF</a> -->
        </div>
      </div>
    <div class="row1">
        <table class="table">
          <thead>
            <tr>
              <th class="col">#</th>
              <th class="col">Judul</th>
              <th class="col">cover</th>
              <th class="col-2">Isi</th>
              <th class="col">rating</th>
              <th class="col">Di buat</th>
              
            </tr>
          </thead>
          <br>
          <tbody>
            {% for a in data %}
            <tr>
              <td>{{forloop.counter}}</td>
              {% if not a.name %}
              <td>{{a.title}}</td>
              {% else %}
              <td>{{a.name}}</td>
              {% endif %}
              {% if a.image %}
              <td><img src="https://image.tmdb.org/t/p/w200{{a.image}}" alt="{{a.title}}"></td>
              {% else %}
              <td><img src="https://via.placeholder.com/500x750" alt="{{m.title}}"></td>
              {% endif %}
              <td>{{a.overview|truncatechars:50}}</td>
              <td><span class="badge bg-success">{{a.rating}}</span></td>
              <td>{{a.date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Judul Artikel</label>
                <input type="text" class="form-control" name="judul">
              </div>
              {% comment %} <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">gambar sampul</label>
                <input type="file" class="form-control" name="image">
              </div> {% endcomment %}
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">cover</label>
                <input type="file" class="form-control" name="cover">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Isi</label>
                <textarea name="isi" id="" cols="30" rows="10"  class="form-control"></textarea>
              </div>
              <label for="exampleInputPassword1" class="form-label">Kategori</label>
              <div class="input-group mb-3">
                <select class="form-select" name="kategori" id="inputGroupSelect02">
                  <option selected>Pilih kategori</option>4
                  {% for k in kategori %}
                  <option value="{{k.kategori}}">{{k.kategori}}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock content %}