{% extends 'base.html' %}
{% block list %}
{% load static %}
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>ARI AHMAD DHANI profile’s</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'home' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="{% static 'images/uploads/fotoku.png' %} " alt=""><br></a>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="#" class="user">
						<h4>01. Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								<h3 style="color:white;">Ari Ahmad Dhani</h3>
							</div>
							<div class="col-md-6 form-it">
								<label>Nim</label>
								<h3 style="color:white;">2011102441090</h3>
							</div>
						</div>
					</form>
					<form action="#" class="password">
						<h4>02. Change password</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Akun Admin</label>
								<h3 style="color:white;">ari</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Password</label>
								<h3 style="color:white;">akugagah123</h3>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}