{% extends "base.html" %}
{% block list %}
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% comment %} <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul>  {% endcomment %}
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
                    <img src="https://image.tmdb.org/t/p/w200{{data.image}}">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
                    <h1 class="bd-hd">{{data.title}}
						<br>
					<span>{{data.original_title}}</span></h1>
					<div class="social-btn">
						{% comment %} <form action="{% url 'addbookmarktrending' data.id_trend %}" method = "POST">
						{% csrf_token %}
						<button type="submit" class="parent-btn"><i class="ion-heart"></i> Add to watchlist</button>
						</form>
						
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		 {% endcomment %}
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{data.rating}}</span> /10<br>
								<span class="rv">{{data.popularity}} Reviews</span>
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							{% for i in '10000000'|make_list %}
							{% if i <= data.date %}
							<i class="ion-android-star"></i>
							{% else %}
							<i class="ion-android-star-outline"></i>
							{% endif %}
							{% endfor %}

						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{data.overview}}</p>
						            		<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
											</div>
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox"  data-fancybox-group="gallery"><img src="https://image.tmdb.org/t/p/w200{{data.backdrop_path}}" alt=""></a>
												
											</div>
											{% comment %} <div class="title-hd-sm">
												<h4>User reviews</h4>
												<a href="#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>
											</div> {% endcomment %}
											<!-- movie user review -->
											<div class="mv-user-review-item">
												{% comment %} <h3>Best Marvel movie in my opinion</h3>
												<div class="no-star">
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star"></i>
													<i class="ion-android-star last"></i>
												</div> {% endcomment %}
												
												<p>{{data.review}}</p>
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Adult</h6>
												<p>{{data.adult}}</p>
						            			
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{data.date}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Languange:</h6>
						            			<p>{{ data.original_language }}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>MMPA Rating:</h6>
						            			<p>{{data.rating}}</p>
						            		</div>
						            		{% comment %} <div class="sb-it">
						            			<h6>Plot Keywords:</h6>
						            		</div> {% endcomment %}
						            		<div class="ads">
												<img src="images/uploads/ads1.png" alt="">
											</div>
						            	</div>
						            </div>
						        </div>

						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}