{% extends "popularpage.html" %}
{% block movie %}
{% for m in popular %}
	<div class="movie-item-style-2 movie-item-style-1">
		<img src="https://image.tmdb.org/t/p/w500{{m.image}}" alt="{{m.title}}">
		<div class="hvr-inner">
			{%if user.is_authenticated%}
			<a  href="{% url 'populermovie' m.id %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
			{%else%}
			<a  href="#" class="loginLink"> Read more <i class="ion-android-arrow-dropright"></i> </a>
			{%endif%}
		</div>
		<div class="mv-item-infor">
			{% if not m.name %}
				<h6 class="card-title"><a href="#">{{ m.title }}</a></h6>
			{% else %}
				<h6 class="card-title"><a href="#">{{ m.name }}</a></h6>
			{% endif %}
			<p class="rate"><i class="ion-android-star"></i><span>{{m.vote_average}}</span> /10</p>
		</div>
	</div>	
{% endfor %}	
{% endblock %}